body{
    background-color:#ECF9FF;
  }
  hr{
   background-color:#ECF9FF ;
   border-style: dotted none none none;
   height:0px;
   border-color:grey;
   border-width:5px;
   width:10%;
  }
 h3{
    color: #66BFBF;
 }
 h1{
    color: #66BFBF;
 }
 /*hover color change image
 img :hover{
   background-color:blue;
 }*/